
// .slidePlac-style{
//     background: #fdfdfd;
//     border: solid 1px #c0dff9;
// }

  .icon-wrapper {
    transition: 0.5s;
  }

.numbertext, h4{
  color: #fff;
  padding: 8px 12px;
  // position: absolute;
  font-weight: bold;
  
   top: 0;
}
h6{
  font-size: 14px;
  color: #ffff;

}