.menu-style a{
    font-weight: bold !important;
    cursor: pointer;
    color: #000;
}
.menu-style a:hover{
    color: #39c2a4;
}
.navbar-brand img {
    width: 100px ;
    height: auto;
}
// .navbar-light{
//     border-bottom: solid 1px #e1e3e7;
// }
 .navbar-nav {
    color: #242222;
}
// .right_btn{
//     background-color: #64c5aa;
// }