<footer class="footer">
  <div class="container">
    <div class="">
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright text-left">
            &copy; 2018 All Rights Reserved.
          </div>
        </div>
        <div class=" col-md-6 text-lg-center btn-wrapper">
          <a target="_blank" href="https://twitter.com/"
            class="btn btn-outline-dark">
            <i class="fa fa-twitter"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/"
            class="btn btn-outline-dark">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a target="_blank" href="https://instagram.com/"
            class="btn btn-outline-dark">
            <i class="fa fa-instagram"></i>
          </a>
          <a target="_blank" href="https://whatsapp.com/"
            class="btn btn-outline-dark">
            <i class="fa fa-whatsapp"></i>
          </a>
          <a target="_blank" href="https://github.com/"
            class="btn btn-outline-dark">
            <i class="fa fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>